.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 104px;
  height: 1024px;
  flex-direction: column;
  align-items: flex-start;
}
.materialSymbolsRedo {
  position: absolute;
  left: 76.9231%;
  right: 0;
  top: 0;
  bottom: 97.6563%;
  flex-direction: column;
  overflow: hidden;
}
.background {
  position: absolute;
  left: 0;
  right: 23.0769%;
  top: 0;
  bottom: 0;
  background-color: #292929;
}
.icons {
  position: absolute;
  left: 15.3846%;
  right: 38.4615%;
  top: 10.4492%;
  bottom: 27.0508%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
