.debugMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff; /* Dark background */
    padding: 10px;
  }

  .debugMenu.disabled {
    opacity: 0.5;
    pointer-events: none; /* Disables interaction */
  }
  
  .debugMenu.disabled .debugButton {
    background-color: #464646; /* Grey out buttons */
    cursor: default; /* Change cursor to indicate non-interactive state */
  }
  

  
  .debugButton {
    display: inline-block;
    margin: 10px 5px;
    background: none;
    border: none;
    color: white;
    font-size: 24px; /* Adjust as needed */
    cursor: pointer;
    border-radius: 50%; /* Circular buttons */
    width: 50px; /* Fixed width and height for circle */
    height: 47.5px;
    align-items: center;
    justify-content: center;
    display: flex;
    /* Adding drop shadow */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, filter 0.3s; /* Smooth transition for hover, click, and filter */
  }
  
  /* Hover state styling */
  .debugButton:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Larger shadow for hover */
  }
  
  /* Active (click) state styling */
  .debugButton:active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Smaller shadow for click */
    transform: translateY(2px); /* Slight push down effect to mimic click */
    filter: brightness(85%); /* Darken the button color */
  }

  /* .debugButton.disabled {
    background-color: #444444;
  } */
  
  .debugButton.play {
    background-color: #2ecc71;
  }
  
  .debugButton.pause {
    background-color: #e74c3c;
  }
  
  .debugButton.up {
    background-color: #3498db;
  }
  
  .debugButton.left {
    background-color: #3498db;
  }
  
  .debugButton.right {
    background-color: #3498db;
  }
  
