.sidetoolbar {
    display: flex;
    flex-direction: column;
    /* Change to column */
    justify-content: flex-start;
    align-items: center;
    background-color: #333;
    color: #fff;
    width: 80px;
    height: 100%;
    padding-top: 20px;
}

.toolbar-btn {
    border-radius: 8px;
    border: none;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: #fff;
    margin-bottom: 10px;
    /* Adjust margin for spacing */
    cursor: pointer;
    transition: background-color 0.25s;
}

.toolbar-btn:hover {
    background-color: #535353;
}

.toolbar-btn:focus,
.toolbar-btn:focus-visible {
    outline: none;
}

.white-icon {
    fill: white;
}