.sidetoolbar {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centered vertically */
    align-items: center; /* Centered horizontally */
    background-color: #242424;
    color: #fff;
    width: 80px;
    height: 100vh; /* Use vh for full viewport height */
    position: fixed; /* Fixed position to stay in place during scrolling */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left side */
    z-index: 1;
}

.toolbar-btn {
    border-radius: 8px;
    border: none;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #424242;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.toolbar-btn:hover {
    background-color: #636363;
}

.toolbar-btn:focus,
.toolbar-btn:focus-visible {
    outline: none;
}

/* Add this new class for the separator */
.separator {
    width: 60%; /* adjust width as needed */
    height: 2px; /* thickness of the separator line */
    background-color: #ea9c14; /* color of the separator line */
    margin-bottom: 15px; 
    margin-top: 5px;
}

.white-icon {
    fill: white;
}

.toolbar-btn.sidepane-toggle {
    position: fixed; /* Fixed position relative to the viewport */
    top: 55px; /* Adjust this value as needed to position from the top */
    right: 1px; /* Adjust this value as needed to position from the right */
    z-index: 5; /* Ensures it stays above other elements */
}